*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-1 {
    font-size: 2rem;
    color: #7DA82B;
}

.navigation {
    width: 80%;
    height: 8rem;
    display: flex;
}

.navigation__mau {
    margin: 0 10%;
    height: 8rem;
    display: flex;
}

.navigation__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation__actions {
    display: flex;
    align-items: center;
}

.navigation__logo {
    height: 1.8rem
}

.navigation__links {
    list-style: none;
    color: #000;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem 3rem 1rem 0;
}


.navegation__item {   
    position: relative; 
    list-style: none;
    color: #000;
    font-size: 14px;
    align-items: center;
    text-decoration: none;
    margin-left: 1rem;
}

.navegation__item:after{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FCDA14;
    transition: all 0.3s;
}

.navegation__item:after{
    right: 0px;
    bottom: 0px;
}

.navegation__item:hover:after{
    opacity: 1;
    width: 100%;
}

.navegation__button {
    background-color: #FCDA14;
    color: #FFF;
    text-decoration: none;
    padding: 0.4rem 1.3rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: color 0.4s;
    font-weight: bold;
}

.navegation__button:hover {
    color: #000;
}

.header{
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
}

.header__img{
    height: 90vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    width: 45%;
    text-align: center;
}

.header__content h1{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.header__content-text{
    color: #fff;
    margin-bottom: 1.5rem;
}

.header__content a{
    background-color: transparent;
    color: #FFF;
    text-decoration: none;
    padding: 0.4rem 1.3rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #FCDA14;
    transition: background-color 0.4s;
}

.header__content a:hover{
    background-color: #FCDA14;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #7DA82B;
    height: auto;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 18px;
    color: white;
    font-size: 14px;
}

#footer-bottom {
    margin-top: 60px;
    text-align:center;
    font-size: 14px;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 250px;
}

#direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#socials ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#socials li {
    margin: 0 20px;
}

#socials li i {
    font-size: 40px;
}

#legales {
    list-style: none;
}

#socials li:hover i {
    color: #FBD912;
    transition: 0.3s;
    cursor: pointer;
}

#legales li:hover {
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}
